
@media only screen and (min-width: 576px) {
    .details{
        width: 50%;
        margin: 5px auto;
    }
th{
    width: 100px;
}
.back{
    width: 100%;
    margin-bottom: 10px;
    border-style: dashed;
}
.back:hover{
    background-color: #dee2e6;
}
}

@media only screen and (max-width: 576px) {
    .back{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .back:hover{
        background-color: #dee2e6;
    }
   
}